---
layout: default
---

<div class="home">
    <div class="header">
        <img src="assets/headshot.jpeg" alt="Profile Picture of Ryan Neil Parker" class="profile-img">
        <div class="text-container">
	    <p>Hello, I'm</p>
            <h1>Ryan Neil Parker</h1>
            <p>Yacht Deckhand, Engineer, & Problem Solver</p>
            <div class="buttons">
                <a href="/assets/ryan-neil-parker-cv.pdf" class="btn btn-download" download>Download CV</a>
                <a href="mailto:ryanneilparker@gmail.com" class="btn btn-contact">Contact Me</a>
            </div>
	    <a href="tel:+19542261314" class="link-phone">📞 +1 954 226 1314</a>
        </div>
    </div>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>

<style>
        .header {
            display: flex;
            align-items: center;
            background: white;
	    border: 1px solid #e8e8e8;
            border-radius: 5px;
	    padding: 20px;
	    margin-bottom: 2rem;
        }
        .profile-img {
            max-width: 300px;
            max-height: 300px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
        .text-container {
            flex: 1;
	    text-align: center;
        }
        h1 {
            margin: 0;
            font-size: 28px;
        }
        p {
            margin: 5px 0;
            color: #666;
        }
        .buttons {
            margin-top: 10px;
	    margin-bottom: 10px;
        }
        .btn {
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 5px;
            margin-right: 10px;
            display: inline-block;
        }
	.btn:visited {
	    color: grey;
	}
        .btn-download {
            background-color: white;
	    border: 1px solid black;
	    color: black;
        }
        .btn-contact {
            background-color: black;
	    color: white;
        }
	.btn-contact:hover {
	    color: white;
	}
	.link-phone {
	    font-size: 28px;
     margin-top: 40px;
	}
        @media (max-width: 768px) {
	    .header {
	        flex-direction: column;
		    }
	    .profile-img {
	        margin-bottom: 20px;
         margin-right: 0px;
	    }
        }
</style>
